<header *ngIf="UserIsLoggedIn()">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">TotalControl</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="btn btn-outline-primary nav-item m-1"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/']"
              ><i class="far fa-chart-bar"></i>Dashboard
            </a>
          </li>
          <li
            class="btn btn-outline-success nav-item m-1"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link" [routerLink]="['/contas']"
              ><i class="far fa-money-bill-alt"></i>Contas</a
            >
          </li>
          <li
            class="btn btn-outline-warning nav-item m-1"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link" [routerLink]="['/usuario']"
              ><i class="far fa-user"></i>Meus Dados</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="underline"></div>
</header>
