<div class="content" *ngIf="showFormContas; else showFormCategorias">
  <form [formGroup]="registrationFormContas" (ngSubmit)="RegisterBill()">
    <label for="categoriaId" class="form-label">Nome da Categoria</label>
    <div class="input-group mb-3">
      <select
        id="categoriaId"
        class="form-select w-auto"
        formControlName="categoriaId"
        (change)="GetSelectedCategoryType()"
      >
        <option value="" selected disabled>Categorias</option>
        <option
          *ngFor="let categoria of categorias"
          [value]="categoria.categoriaId"
        >
          {{ categoria.nomeCategoria }}
        </option>
      </select>
      <button (click)="ToogleForm()" class="btn btn-primary form-control">
        Cadastrar Categoria
      </button>
    </div>
    <div class="mb-3">
      <label for="tipoConta" class="form-label">Tipo de Conta</label>
      <input
        id="tipoConta"
        class="form-control"
        formControlName="tipoConta"
        [value]="registrationFormContas.get('tipoConta')!.value"
        readonly
      />
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <input
        id="descricao"
        type="text"
        class="form-control"
        placeholder="Digite a descrição"
        formControlName="descricao"
        required
      />
    </div>
    <div class="mb-3">
      <label for="valorDaConta" class="form-label">Valor(R$)</label>
      <input
        id="valorDaConta"
        class="form-control"
        placeholder="R$"
        formControlName="valorDaConta"
        required
        currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      />
    </div>
  </form>
</div>
<ng-template #showFormCategorias>
  
</ng-template>
