<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
      <button type="button" class="btn btn-dark" (click)="dismiss()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
      {{ message }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ngbAutofocus  (click)="accept()">{{ btnOkText }}</button>
      <button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
</div>