footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: purple;
  color: white;
  text-align: center;
  padding: 4px;
  margin-top: 16px;
}

footer p {
  margin: 0;
  line-height: 1;
}
