<div class="d-flex">
  <section>
    <article class="content row m-2 p-2">
      <div class="card">
        <img
          class="card-img-top"
          src="../../../assets/transferir.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Janeiro
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../assets/transferir.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Janeiro
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../assets/transferir.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Janeiro
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../../assets/transferir.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Janeiro
          </p>
        </div>
      </div>
    </article>
  </section>
  <aside>
    <article>     
        <div class="filter-menu">
            <a href="#">Filtro 1</a>
            <a href="#">Filtro 2</a>
            <a href="#">Filtro 3</a>
            <a href="#">Filtro 4</a>
        </div>
    </article>
  </aside>
</div>
