<div class="d-flex">
  <section>
    <article class="content row m-2 p-2">
      <div class="card">
        <img
          class="card-img-top"
          src="../../../assets/transferir.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">Janeiro</p>
        </div>
      </div>
    </article>
  </section>
  <aside>
    <article>
      <div class="card">
        <img class="card-img-top" src="../../../assets/transferir.png" alt="Imagem cadastro do mês" />
        <div class="card-body">
          <p class="card-text">
            Comece agora a controlar suas contas mensais !<br /><br />
            <strong>Cadastre abaixo o mês desejado<br /></strong>
            <i class="fa-solid fa-circle-arrow-down fa-xl"></i>
          </p>
        </div>
      </div>
      <div class="mt-4 text-center">
        <select class="form-select">
            <option value="" selected disabled>Escolha o mês</option>
            <option value="01">Janeiro</option>
            <option value="02">Fevereiro</option>
            <option value="03">Março</option>
            <option value="04">Abril</option>
            <option value="05">Maio</option>
            <option value="06">Junho</option>
            <option value="07">Julho</option>
            <option value="08">Agosto</option>
            <option value="09">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
        <div class="mt-2">
          <button class="btn btn-outline-primary">Cadastrar Mês</button>
        </div>
      </div>
    </article>
  </aside>
</div>
