<app-container>
  <div class="row justify-content-center align-items-center p-2">
    <div class="col-md-3 col-auto border rounded text-center">
      <div>
        Comece agora a fazer o balanço mensal de suas contas !<br />
        <p>
          <strong>Cadastre o mês desejado antes de iniciar. </strong>
        </p>
      </div>
    </div> 
    <div class="col-md-3 col-auto mt-2">
      <select class="form-select" [(ngModel)]="selectedMonth">
        <option value="" selected disabled>Escolha o mês</option>
        <option value="Janeiro">Janeiro</option>
        <option value="Fevereiro">Fevereiro</option>
        <option value="Março">Março</option>
        <option value="Abril">Abril</option>
        <option value="Maio">Maio</option>
        <option value="Junho">Junho</option>
        <option value="Julho">Julho</option>
        <option value="Agosto">Agosto</option>
        <option value="Setembro">Setembro</option>
        <option value="Outubro">Outubro</option>
        <option value="Novembro">Novembro</option>
        <option value="Dezembro">Dezembro</option>
      </select>
    </div>
    <div class="col-md-3 col-auto mb-3 mt-2">
      <label for="ano">Digite o ano</label>
      <input type="text" class="form-control mb-2" id="ano" placeholder="2023" [(ngModel)]="month.ano">
    </div>
    <div class="col-md-3 col-auto text-center">
      <button type="button" (click)="cadastrarMes()" class="btn btn-dark btn-lg">Cadastrar Mês</button>
    </div>
  </div>
  <hr>
  <div>
    <div class="m-2 p-2">
      <div class="row justify-content-center">
        <div class="card" *ngFor="let mes of months">
          <img class="card-img-top" src="../../../assets/transferir.png" alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">{{mes.nomeMes}} / {{mes.ano}}</p>
            <button (click)="NavigateToTableMonth(mes, mes.nomeMes + mes.ano)" class="btn btn-info m-2">Entrar</button>
            <button (click)="ExcluirMes(mes)" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-container>