<div class="content">
  <form [formGroup]="registrationFormContas" (ngSubmit)="RegisterBill()">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome da Categoria</th>
          <th scope="col">Tipo de Conta</th>
          <th scope="col">Descrição</th>
          <th scope="col">Valor(R$)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <select class="form-select" formControlName="categoriaId">
              <option value="" selected disabled>Categorias</option>
              <option
                *ngFor="let categoria of categorias"
                [value]="categoria.id"
              >
                {{ categoria.nomeCategoria }}
              </option>
            </select>
          </td>
          <td>
            <input
              id="tipoConta"
              class="form-control"
              [value]="GetSelectedCategoryType()"             
              formControlName="tipoConta"                     
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control mb-2"            
              placeholder="Digite a descrição"
              formControlName="descricao"
              required
            />
          </td>
          <td>
            <input
              class="form-control mb-2"         
              placeholder="R$"
              formControlName="valorDaConta"
              required
              currencyMask
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="novaConta">
      <button type="submit" [disabled]="registrationFormContas.invalid" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
</div>
