<div class="tab-pane fade show active" role="tabpanel">
  <form [formGroup]="loginForm" (ngSubmit)="login()" >
    <div class="text-center mb-3 bold marginTop">        
      <div *ngIf="showSpan">
        <div class="d-flex justify-content-center">
          <span class="loading-spinner"></span>
        </div>
      <div >
        <span class="showSpanned">Carregando</span>
      </div>
    </div>
    
    <div class="form-group mb-2">
      <label class="form-label " for="loginEmail">Email</label>
      <input type="text" id="loginEmail" class="form-control" formControlName="Email" minlength="3"/>
      
      <div *ngIf="(loginForm.get('Email')?.invalid && loginForm.get('Email')?.touched) || loginForm.get('Email')?.dirty">
        <div *ngIf="loginForm.get('Email')?.errors?.['required']" class="alert alert-danger">Campo obrigatório</div>
        <div *ngIf="loginForm.get('Email')?.errors?.['minlength']" class="alert alert-danger">Campo deve ter no mínimo 3 caracteres</div>
      </div>
    </div>
    
    <div class="form-outline mb-2">
      <label class="form-label" for="loginPassword">Senha</label>
      <input type="password" id="loginPassword" class="form-control" formControlName="Senha" required />
      
      <div *ngIf="(loginForm.get('Senha')?.invalid && loginForm.get('Senha')?.touched) || loginForm.get('Senha')?.dirty">
        <div *ngIf="loginForm.get('Senha')?.errors?.['required']" class="alert alert-danger">Campo obrigatório</div>
      </div>     
    </div>
    <div class="col md-6 d-flex">
      <div class="form-check mb-3 mb-md-0">
        <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
        <label class="form-check-label" for="loginCheck">Me Lembre!</label>
      </div>
    </div>
    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-block mt-4 w-100">Entrar <i class="fa-solid fa-right-to-bracket"></i></button>

    <div class="row mb-2">    
      <div class="col md-6 d-flex justify-content-end">
        <a href="">Esqueceu a senha? <i class="fa-solid fa-unlock"></i></a>
      </div>
    </div>
  </div>
    
    <div class="bold text-center mb-3">
      <p class="bold">Logar Com</p>
      <button type="button" class="btn btn-floating mx-1">
        <i class="fa-brands fa-google fa-2xl"></i>
        </button>
        <button type="button" class="btn btn-floating mx-1">
          <i class="fa-brands fa-github fa-2xl"></i>
        </button>
    </div>

  </form>
  
</div>




